{% extends 'base.html' %}

{% block section %}
    <h2>Factura</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
<h1>Hello</h1>
    <div class="row well">
            {% for p in object_list %}
                <div class="col-md-4 well">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="{% url 'factura-detail' p.pk %}">
                                {{p.serie}}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock maincontent %}
