{% extends "base.html" %}

{% block maincontent %}
    <form enctype="multipart/form-data"method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
        <a class='btn' href="{% url 'producto-list' %}">Cancelar</a>
    </form>
{% endblock maincontent%} 