{% extends 'base.html' %}
{% load static %}

{% block section %}
    <h2>
        {{ object.titulo }}
        {% if object.favorite %}
            &#9733;
        {% else %}
            &#9734;
        {% endif %}
        {% if object.categoria_id %}
            ( <a href="{% url 'categoria-detalle' object.categoria_id %}">{{ object.categoria }}</a> )
        {% endif %}
    </h2>
    
     
    <hr>
{% endblock section %}

{% block maincontent %}
<div>
    <div>
        <img src="{% static object.producto.url %}"
style="width:550px;height:420px"/>
    </div> 
</div>
<br/>
<td class="text-right">
                           
    <a href="{% url 'producto-update' object.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
    
    <a href="{% url 'producto-delete' object.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a> 
   
</td>  
{% endblock maincontent %} 