{% extends 'base.html' %}

{% load static %}

{% block section %}
    <h2>Producto</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="row well">
        {% for p in object_list.all %}
            <div class="col-md-4 well">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p.titulo }}</h3>
                    </div>
                    <div class="panel-body">
                        <a href="{% url 'producto-detail' p.id %}">
                            <img src="{% static p.producto.url %}" style="width:200px;height:200px;"/>
                        </a>
                        <h4>$ {{ p.precio }}</h4>
                        <h4>{{ p.descripcion }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock maincontent %}
